<div class="m-4">
    <h1 class="m-2">Skills Pessoais</h1>
</div>

<div class="row justify-content-between m-4">
    <div class="mt-3 col-lg-4 col-md-6">
        <div class="card">
            <h5 class="card-header">Comprometimento</h5>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <div class="d-flex row text-right">
                    <div class="col align-self-center">
                        <button type="button" class="btn btn-primary"><i class="bi bi-hand-thumbs-up-fill"></i></button>
                    </div>
                    <div class="col align-self-end">
                        <p class="text-like mb-0">2 likes</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3 col-lg-4 col-md-6">
        <div class="card">
            <h5 class="card-header">Estimulado por Desafios</h5>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <div class="d-flex row text-right">
                    <div class="col align-self-center">
                        <button type="button" class="btn btn-primary"><i class="bi bi-hand-thumbs-up-fill"></i></button>
                    </div>
                    <div class="col align-self-end">
                        <p class="text-like mb-0">2 likes</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3 col-lg-4 col-md-6">
        <div class="card">
            <h5 class="card-header">Ambição</h5>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <div class="d-flex row text-right">
                    <div class="col align-self-center">
                        <button type="button" class="btn btn-primary"><i class="bi bi-hand-thumbs-up-fill"></i></button>
                    </div>
                    <div class="col align-self-end">
                        <p class="text-like mb-0">2 likes</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3 col-lg-4 col-md-6">
        <div class="card">
            <h5 class="card-header">Proativo</h5>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <div class="d-flex row text-right">
                    <div class="col align-self-center">
                        <button type="button" class="btn btn-primary"><i class="bi bi-hand-thumbs-up-fill"></i></button>
                    </div>
                    <div class="col align-self-end">
                        <p class="text-like mb-0">2 likes</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3 col-lg-4 col-md-6">
        <div class="card">
            <h5 class="card-header">Detalhista</h5>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <div class="d-flex row text-right">
                    <div class="col align-self-center">
                        <button type="button" class="btn btn-primary"><i class="bi bi-hand-thumbs-up-fill"></i></button>
                    </div>
                    <div class="col align-self-end">
                        <p class="text-like mb-0">2 likes</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3 col-lg-4 col-md-6">
        <div class="card">
            <h5 class="card-header">Ansioso</h5>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <div class="d-flex row text-right">
                    <div class="col align-self-center">
                        <button type="button" class="btn btn-primary"><i class="bi bi-hand-thumbs-up-fill"></i></button>
                    </div>
                    <div class="col align-self-end">
                        <p class="text-like mb-0">2 likes</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>