.text-like {
    font-size: 14px;
    text-align: end;
}

.card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border: 2px solid rgba(0,0,0,0.06);
    border-radius: 0.5rem;
}

.title{
    color: #ffffff;
}