/* You can add global styles to this file, and also import other style files */

html { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    height: 800px;
	background: linear-gradient(169deg, #2c2c2c 45%, #ffffff 0%);
	opacity: 1;
}

